<div class="container mt-5">
    <h3 class="text-center mb-4">Ajouter un Produit</h3>
    <form (ngSubmit)="ajouterProduit()" class="bg-light p-4 rounded shadow-sm">
      <div class="form-group mb-3">
        <label for="reference" class="form-label">Référence :</label>
        <input type="text" id="reference" [(ngModel)]="produit.reference" name="reference" class="form-control" required />
      </div>
  
      <div class="form-group mb-3">
        <label for="description" class="form-label">Description :</label>
        <input type="text" id="description" [(ngModel)]="produit.description" name="description" class="form-control" required />
      </div>
  
      <div class="form-group mb-3">
        <label for="prixUnitaire" class="form-label">Prix Unitaire :</label>
        <input type="number" id="prixUnitaire" [(ngModel)]="produit.prixUnitaire" name="prixUnitaire" class="form-control" required />
      </div>
      
      <div class="form-group mb-3">
        <label for="categorieId" class="form-label">Catégorie :</label>
        <select
          id="categorieId"
          [(ngModel)]="produit.categorieId"
          name="categorieId"
          class="form-select"
          required
        >
          <option [value]="null">Sélectionnez une catégorie</option>
          <option *ngFor="let categorie of categories" [value]="categorie.id">
            {{ categorie.nom }}
          </option>
        </select>
      </div>
      
  
      <button type="submit" class="btn btn-primary w-100">Ajouter</button>
    </form>
  </div>
  